<body>
  <form action="/login_interviewee" method="GET">
    <button>Login Interviewee</button>
  </form>

  <form action="/login_recruiter" method="GET">
    <button>Login Recruiter</button>
  </form>

  <form action="/register" method="GET">
    <button>Register</button>
  </form>
</body>

