<h1>Breakfast</h1>
<form action="addFood" method="get">
    <button value="logFood">Add food</button>
    <input value="breakfast" hidden>
</form>

<h1>Lunch</h1>
<form action="addFood" method="get">
    <button value="logFood">Add food</button>
</form>

<h1>Dinner</h1>
<form action="addFood" method="get">
    <button value="logFood">Add food</button>
</form>

<h1>Snacks</h1>
<form action="addFood" method="get">
    <button value="logFood">Add food</button>
</form>

<br>

<input type="button" value="goBack" onclick="history.back()">
