<form action="/login_interviewee" method="POST">
    <input type="email" placeholder="Enter email" name="email" required>
    <br>
    <input type="password" placeholder="Enter password" name="password" required>
    <br>
    <button type="submit">Login</button>
</form>

<form action="/" method="GET">
    <button>back</button>
</form>