<form action="/login_recruiter" method="POST">
    <input type="text" placeholder="Enter name" name="name" required>
    <br>
    <input type="email" placeholder="Enter password" name="email" required>
    <br>
    <input type="id" placeholder="Enter recruiter id" name="id" required>
    <br>
    <button type="submit">Login</button>
</form>

<form action="/" method="GET">
    <button>back</button>
</form>